:root {
    --white:#fff;
    --green:#3A5A40;
    --dark-green: #588157;
    --yellow:#e9c46a;
    --red:#E63946;
    --bcg:#F1FAEE;
    --light-blue:#A8DADC;
    --blue:#457B9D;
    --dark-blue:#1D3557;
    --footer:#000814;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    scroll-behavior: smooth;
}

header,nav, section, footer {
    display: block;
}

body {
    margin: 0;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: var(--bcg);

}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0.5rem; 
}
  
p {
    margin-top: 0;
    margin-bottom: 1rem; 
}

/* NAVEGACIÓN */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: sticky;
    top: 12px;
    z-index: 10;
}

.nav_container {
    background-color: #E2E0DA;
    border-radius: 50px;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
.nav_item{

    font-size: 1.1rem;
    font-weight: 500;
}
.nav_link{
    text-decoration: none;
    color: var(--blue);
    padding: .25rem 1rem;
}

.nav_link:hover{
    color: var(--yellow);
}

/* HOME */
.hero-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 17rem auto;
    align-items: center;
    color: var(--dark-blue);
}

.hero-wrap h1 {
    font-size: 2.7rem;
}

.hero-wrap h3 {
    font-size: 2rem;
    text-align: center;
    color: var(--yellow);
    font-weight: 500;
}

.btns {
    display: flex;               
    justify-content: center;      
    align-items: center;                       
    flex-wrap: wrap;                            
    text-align: center;  
    gap: 1.5rem;        
}

.btn {
    text-decoration: none;
    margin-top: 4rem;                 
    padding: .75rem 1rem;           
    color: var(--dark-blue);      
    outline: none;                    
    display: inline-flex;        
    align-items: center;          
    justify-content: center;      
}

.btn:hover {
    cursor: pointer;             
    background-color: var(--light-blue);
    border-radius: 30px;
    color: var(--dark-blue);
    font-weight: 700;
}

.btn svg {
    height: 25px;
    width: 25px;
    padding-right: 5px;
}

/* ESTUDIOS */
.education {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    margin: 0 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 30px;
}

.study-heading {
    color: var(--dark-blue);
    font-size: 2rem;
    padding: 2rem;
}

.work-heading {
    color: var(--dark-blue);
    font-size: 2rem;
    padding: 2rem;
    margin-left: 3rem;
}

.container{
    display: flex;
    flex-direction: column;
    border-left: 3px solid darkgrey;
    padding-left: 20px;
    position: relative;
    margin-top: 10px; 
}

.item {
    margin-bottom: 40px;
    position: relative;
}

.item::before {
    content: '';
    position: absolute;
    left: -26.6px;
    top: 12px;
    width: 10px;
    height: 10px;
    background-color: #f4c542;
    border-radius: 50%;
}

.location {
    color: #f4c542;
    font-size: 1.25em;
    margin: 0 0 5px;
}

.position {
    color: var(--dark-blue);
    font-weight: bold;
    margin: 0 0 5px;
}

.date {
    color: var(--blue);
}

/* PROJECTOS */
.projects h2 {
    margin-top: 7rem;
    text-align: center;
    color: var(--dark-blue);
    font-size: 2rem;
}

/* SOBRE MÍ */
.about-title svg {
    height:30px;
    width: 30px;
}
.about-title h2 {
    color: var(--dark-blue);
    font-size: 2rem;
}

.about-title {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

.about-container {
    width: 70rem;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    gap: 2rem;
    margin: 2rem;
    padding: 2rem;
}

.about-text {
    font-style: italic;
    font-size: 17px;
}

.about-img {
    width: 230px;
    position: relative;
    border-radius: 20px;
}

/* FOOTER */
.footer-container {
    background-color: var(--footer);
    color: var(--bcg);
    padding: 3rem;
    text-align: center;
    font-size: 14px;
    margin-top: 70px;
}